.button {
	position: relative;
	border-radius: 40px;
	font-weight: 500;
	line-height: 130%;
	border: 1px solid transparent;
	background:
		linear-gradient(var(--color-black), var(--color-black)) padding-box,
		linear-gradient(to bottom, #fb8627, #f5bef6) border-box;
	padding: 12px 20px;
	font-family: inherit;
	font-size: inherit;
	z-index: 1;
}

.button::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom, #fb8627, #f5bef6);
	width: 100%;
	height: 100%;
	border-radius: 40px;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.button:hover.button::after {
	opacity: 1;
}

.colorBlack {
	color: var(--color-black);
}

.colorWhite {
	color: white;
}
