.button {
	border-radius: 40px;
	font-weight: 500;
	line-height: 130%;
	border: 1px solid transparent;
	background:
		linear-gradient(var(--color-black), var(--color-black)) padding-box,
		linear-gradient(to bottom, #fb8627, #f5bef6) border-box;
	padding: 12px 20px;
  font-family: inherit;
  font-size: inherit;
}

.colorBlack {
	color: var(--color-black);
}

.colorWhite {
	color: white;
}
