.modal {
	background: white;
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100vw;
	width: 100%;
	max-height: 100vh;
	height: 100%;
	padding: 20px;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: all 0.3s ease;
}

.closeImage {
	width: 30px;
	height: 30px;
}

.overlay {
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: all 0.3s ease;
}

.modalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.modalForm {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	margin-bottom: 15px;
}

.active {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
	transition: all 0.3s ease;
}

@media (min-width: 768px) {
	.modal {
		max-width: 520px;
		max-height: 427px;
		border-radius: 40px;
		padding: 40px;
	}
	.closeImage {
		width: 36px;
		height: 36px;
	}
}
