
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root  {
  --color-white: white;
  --color-black: #0F0F17;
}

html, body {
  background: var(--color-black);
  color: var(--foreground);
  font-family: var(--font-inter);
  min-height: 100vh;
}
a {
  text-decoration: none;
}
