
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root  {
  --color-white: white;
  --color-black: #0F0F17;
  --background-gradient: linear-gradient(to bottom, #FB8627, #F5BEF6);

}

html, body {
  background: var(--color-black);
  color: var(--foreground);
  font-family: var(--font-inter);
  min-height: 100vh;
}
a {
  text-decoration: none;
}
button {
  background: none;
  border: none;
}
