@import "tailwindcss";  

@theme  {
  --black: initial;
  --color-black: #0F0F17;
}

html, body {
  background: var(--color-black);
  color: var(--foreground);
  font-family: var(--font-inter);
  min-height: 100vh;
}
