.header {
	position: relative;
	height: 119px;
	max-width: 100vw;
}

.logo {
	max-width: 43px;
	width: 100%;
	height: auto;
}

.headerFixed {
	position: fixed;
	top: 0px;
	padding: 20px 10px 10px 10px;
	left: 0;
	width: 100%;
	border-bottom: 1px solid rgba($color: white, $alpha: 0.3);
	background: var(--color-black);
}

.headerContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (min-width: 768px) {
	.headerFixed {
		padding-bottom: 15px;
	}
	.logo {
		max-width: 70px;
	}
}
