.header {
  position: relative;
  height: 119px;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba($color: white, $alpha: 0.3);
  max-width: 100vw;
}

.headerFixed {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}