.input {
  width: 100%;
  border: 1px solid var(--color-black);
  padding: 15px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: inherit;
}

.checkboxItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkboxItem label {
  margin-bottom: 4px;
}

.checkboxInput {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  max-width: 18px;
  height: 18px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #FB8627, #F5BEF6) 1;
  background: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
}

.checkboxInput:checked {
  background: var(--background-gradient);
}

.checkboxInput:checked::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 9px;
  top: 50%;
  background: url("/check.svg") center;
  left: 50%;
  transform: translate(-50%, -50%);
}