.heading {
	font-weight: 600;
	line-height: 110%;
	text-transform: uppercase;
}
.h1 {
	font-size: clamp(24px, 5vw, 40px);
}

.h2 {
	font-size: clamp(20px, 5vw, 24px);
}

.h3 {
	font-size: clamp(16px, 5vw, 20px);
}

.h4 {
	font-size: 16px;
}
