.news {
	margin-bottom: 48px;
	margin-top: 40px;
}
.newsBlock {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 440px));
	justify-content: center;
	gap: 20px;
	margin-top: 40px;
}

.title {
	margin-left: 10px;
	text-align: center;
}
.cardText {
	margin-top: 20px;
	padding: 0 10px;
	display: -webkit-box;
	-webkit-line-clamp: 4; /* количество строк */
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.newsImage {
	max-width: 440px;
	width: 100%;
	height: auto;
	max-height: 320px;
}

.singlePost {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 40px;
}

.postTitle {
	margin-bottom: 30px;
	width: 101%;
}

.postText {
	padding: 0 10px;
}

.subtitle {
	margin-bottom: 10px;
}

.date {
	margin-top: 10px;
}

@media (min-width: 768px) {
	.news {
		margin-top: 60px;
		margin-bottom: 64px;
	}
}

@media (min-width: 1280px) {
	.singlePost {
		flex-direction: row;
		margin-top: 78px;
	}
	.postText {
		max-width: 439px;
	}
	.date {
		margin-top: 20px;
	}
}

@media (min-width: 1376px) {
	.title {
		margin-left: 0;
		text-align: left;
	}
}

@media (min-width: 1080px) {
	.postTitle {
		max-width: 496px;
	}
}
